*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{

}
.header{
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    padding: 25px 50px; 
    font-size: 15px;
    top: 0px;
    z-index: 1;
 

}
#nav{
 right: 50px;
 position: absolute;
}
#nav li{
    display: inline-block; /* để chữ thành hàng ngang*/
    margin-left: 25px;
    
}
#nav > li:hover > a{
    color: #ff9800;
}
li a{
    text-decoration: none;
    color: black;

}
#nav .subnav{
    /* display: none; */
    position: absolute;
    display: none;
    width: 80px;
    
    
    background-color: rgb(255, 255, 255);

}
.subnav > li:hover >a{
    color: #ff9800;
}
.subnav > li {
    padding: 10px 0px 10px 0px;
}
#nav .abc{
    font-size: 9px ;
}
 li >.subnav  {
    box-shadow: 0 0 2px #221c1b;
}
#nav li:hover .subnav{
    display: block;
/* aduvip */
}
.home{
    height: 100vh;
    position: relative;
   
   
}
.home .background-img{
    background: url(../style/img/z5322351814167_b11aa1c767fcd44263ce47b5cf8ef79a.jpg) top center / cover no-repeat;
   
    position: absolute;
    
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    width: 50%;
    right: 0px;
    top: 0px;
    bottom: 0px;

}

.home .content-home{
    position: absolute;
    top: 430px;
    left: 258px;
    text-align: center;
}
.content-home .title{
    font-size: 40px;
}
.content-home h3{
    font-size: 13px;
}
.containerr{
    
    height: auto;
    position: relative;
}
.about{
    height: auto;
    padding: 150px 0px;
    
}
.about .about-container{
    
    height: auto;
    /* margin: 0px 30px; */
    display: flex;
    
    margin: 0px 330px;
    padding: 40px 0px;
 
    
}
.about-container .man{
    /* left: 0px;
    bottom: 0px;
    top: 0px; */
    width: 50%; 
    padding-right: 50px;
}

.about-container .content{
    width: 50%;
    padding-left: 50px;
    padding-right: 30px;

    
        /* right: 0px;
        bottom: 0px;
        top: 0px; */

   
    

}
.content-title{
  

}
.content-title h1{
    margin-top: 18px;
    font-weight: 800;
    

}
.conten-span{
    padding:8px 10px;
    
    background-color: rgba(255, 152, 0, .05);
   
    color: #333;
    font-size: 12px;
    font-weight: 600;
    top: 0px;
    left: 0px;
    font-family: "Poppins";
    
}
.content h1{
    font-weight: 800;
 
}
.content p{
    margin: 40px 0px;
    opacity: 0.6;
}
.dowload{
    background-color: #ff9800;
    border-color: #ff9800;
    color: #f0ebe4;
    padding: 20px 60px;
    font-size: 17px;
    
}
.content .dowload:hover{
    background-color: rgba(255, 255, 255, 1);
    color: #000;
}


.fortfolio-container{
padding: 150px 0px 100px 0px;
margin: 0 220px;
}
.fortfolio-header{
    display: flex;
}
.fortfolio-header-left{
    width: 50%;
}
.fortfolio-span{
    background-color: rgba(255, 152, 0, .05);
    padding: 10px 20px;
}
.fortfolio-header-menu{
    align-self:center;
    position: relative;
    float: right;
    width: 50%;
}

.fortfolio-header-menu ul{
    align-self: center;
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
}

.fortfolio-header-menu li{
    display: inline;
    padding: 5px 14px;
}
.fortfolio-header-menu li:hover a{
    color: #ff9800;
}
.fortfolio-content{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.item{
    margin-bottom: 60px;
}

@keyframes thuimg {
    from{
        width: 100%;
    }
    to{
        width: 98%;
    }
    
}
.fortfolio-content .item img:hover{
    animation: thuimg 0.2s forwards;
}

.shane-secsion-container{
    margin: 300px;
    display: flex;
}
.shane-trai{
    width: 50%;
    float: left;
    padding-right:100px;
}
.shane-trai .title{
    font-weight: 800;
    font-size: 31px;
    line-height: 1.3;
    padding-bottom: 30px;
}
.shane-trai .content{


    opacity: 0.6;
    
}
.shane-phai{
    width: 50%;
    align-items: center;
    justify-content: center;

}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    font-weight: 500;
    line-height: 1.9;
    
    color: #000;
    
}
.clear{
    clear: both;
}
.footer{
        height: 160px;
        width: 100%;
        background-color: black;
        position: relative;
        color: aliceblue;
        padding: 65px 0px 65px 0px;
        text-align: center;
        

}


.shane-secsion1{
    height: 600px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: url(../style/img/background.webp) ;
    background-size: cover;
    flex-direction: column;
    

    
    

    
}
#shane-img{
    
opacity: 0.9;
} 
#play-icon{
    width: 100px;
    height: 100px;
    background-color: #ff9800;
    border-radius: 50%;
    font-size: 10px;
    position: relative;

   
}
.ti-control-play{
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -10px;

}
.shane-secsion1 >h3{
    position: absolute;
    bottom: 180px;
    color: #f0ebe4;
    font-size: 30px;
    font-weight: 100;
}
#watch-video{
    border: 1px solid #ff9800;
    font-size: 20px;
    color: #ffffff;
    padding: 15px 45px;
    position: absolute;
    bottom: 100px;
    background-color: transparent;
}
#watch-video:hover{
    background-color: #ff9800;
}
.shane-secsion2{
   
    background-image: url('../style/img/shane-secsion2.png')  ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}
.news-container{
    padding: 100px;
    display: flex;
    
    flex-direction: column;
    
}
.row-news{
    
    justify-content: flex-start;
    flex-direction: column;
    
    
}
.row-news1{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    
   
}
#span-news{
    background-color: #e2c9a3;
    padding: 5px 10px;
}
.row-news1 > .item{
    margin: 30px;
}
.item >p{
    margin: 15px 0px;
    color: black;
}
.item >i{
    opacity: 0.6;
}

.contact{
    position: relative;

}
.contact-container{
    background: url(../style/img/thanhpho.png);
    height: 800px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-container >.title{
    font-size: 90px;
    color: #ffffff;
}
.contact-container > button{
    border: 1px solid #ff9800;
    background-color: #ff9800;
    color: #f0ebe4;
    font-size: 18px;
    padding: 25px 60px;
}
.contact-container > button:hover{
    background-color: transparent;

}


.modal-dialog{
    padding-top: 200px;
}




/* 
*, *:before, *:after {
    box-sizing: inherit;
  } */

  /* .row{
    display: flex;
    
  }
  .row .column {
    
    
    float: left;
    width: 33.333%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  .row .column1{
    flex-shrink: 9;

  }
  .row .column2{
    flex-shrink: 6; 
  }
 

  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container1 {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
   */